html, body {
  margin:0;
  padding:0;
  background-color: #F8F8F8;
}

.header-title-text p {
  padding-left: 50px;
  font-size: 40px;
  color: white;
  font-family: Syntax;
}

.header-subtitle-text p {
  padding-left: 50px;
  font-size: 30px;
  color: white;
  font-family: Syntax;
}

.header-message-text p {
  padding-left: 50px;
  padding-bottom: 50px;
  font-size: 20px;
  width: 50%;
  color: white;
  font-family: Syntax;
}

.nav-images {
  background-color: white;
  margin: 30px
}

.indv-nav-images {
    width: auto;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.indv-nav-images figure {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

figcaption {
    margin: 5px 0 0 0;
    font-family: Syntax;
    text-align: center;
    color: black;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.body {
  background-color: white;
  margin: 30px
}

.home-body-title p {
  padding: 20px 20px 0px 20px;
  font-size: 30px;
  font-family: Syntax;
}

.home-body-paragraph p {
  padding: 0px 20px 20px 20px;
  font-family: Syntax;
}

#image-processing {
  background-color: white;
  margin: 30px
}

#robotics {
  background-color: white;
  margin: 30px
}

#c-plus-plus {
  background-color: white;
  margin: 30px
}

#machine-automation {
  background-color: white;
  margin: 30px
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Syntax;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
